extends: default
ignore: |
  .tox

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  comments:
    min-spaces-from-content: 1
  comments-indentation: disable
  document-start: disable
  truthy:
    allowed-values: ["true", "false", "on"]
  line-length: disable
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
