name: release

on:
  release:
    types: [published]

jobs:
  pypi:
    name: Publish to PyPI registry
    environment: release
    runs-on: ubuntu-latest

    env:
      FORCE_COLOR: 1
      PY_COLORS: 1

    permissions:
      id-token: write

    steps:
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install build tools
        run: python3 -m pip install --user build twine
      - name: Check out src from Git
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Build dists
        run: python -m build
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
