name: release

on:
  push:
    tags:
      - "v*"

jobs:
  pypi:
    name: Publish to PyPI
    environment: release
    runs-on: ubuntu-latest

    permissions:
      id-token: write

    steps:
      - name: Check out src from Git
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install build tools
        run: python -m pip install --user build
      - name: Build dists
        run: python -m build
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
