name: tox

on:
  push:
    branches:
      - "main"
    tags-ignore:
      - "**"
  pull_request:

jobs:
  build:
    name: ${{ matrix.tox_env }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - tox_env: lint
            python-version: "3.12"
          - tox_env: py310
            python-version: "3.10"
          - tox_env: py311
            python-version: "3.11"
          - tox_env: py312
            python-version: "3.12"
          - tox_env: py313
            python-version: "3.13"
          - tox_env: packaging
            python-version: "3.12"

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libvirt-dev pkg-config
      - name: Install dependencies
        run: |
          python -m pip install -U pip
          pip install tox
      - name: Run tox
        env:
          TOX_ENV: ${{ matrix.tox_env }}
        run: tox -e "$TOX_ENV"
